@import url("https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro:300");

@value bodyBackgroundColor: #353F4C;

body {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.65;
  background: bodyBackgroundColor url("../pages/images/main-bg.jpg") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:hover,
a:active,
a:focus,
a:visited {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-bottom-color 0.2s ease-in-out;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}
a:hover {
  border-bottom-color: transparent;
}

.markdown-content h3,
.markdown-content h4,
.markdown-content h5 {
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

.markdown-content h3 {
  font-size: 1.2rem;
}

.markdown-content p {
  margin: 0 0 2rem;
}

.markdown-content ul,
.markdown-content ol {
  margin: 0 0 2rem;
  padding-left: 2.5rem;
}

.markdown-content ul li,
.markdown-content ol li {
  padding-left: 0.5rem;
}

.markdown-content p + ul,
.markdown-content p + ol {
  margin-top: -1.1rem;
}
