@import url("https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro:300");

@value bodyBackgroundColor: #353F4C;

body {
  color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.65;
  background: bodyBackgroundColor url("../pages/images/main-bg.jpg") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

*, *::before, *::after {
	box-sizing: border-box;
}
