@import url("https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro:300");

@value bodyBackgroundColor: #353F4C;

body {
  color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.65;
  background: bodyBackgroundColor url("../pages/images/main-bg.jpg") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

*, *::before, *::after {
	box-sizing: border-box;
}

a, a:link, a:hover, a:active, a:focus, a:visited {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  color: #FFF;
  text-decoration: none;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}
a:hover {
  border-bottom-color: transparent;
}
